@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/*scope*/

/*here we are setting some variables to re-use*/
:root {
  --color-primary: #006241;
  --color-secondary: #d50032;
  --color-other: #d4d9e2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: open sans, sans-serif;
  color: #000;
  line-height: 1.4;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 5px 0px;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

/*Nav bar*/

.navbar {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #fff;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  flex-direction: column;
  margin: 0 15px;
  font-weight: bold;
}

.navbar a {
  color: #000;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--color-primary);
}

.navbar-left {
  flex: 1;
  margin-left: 20px;
}

.navbar-right img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.navbar-right li:nth-child(2) {
  margin: 0 5px;
}

.navbar-right li:first-child a {
  display: flex;
  align-items: center;
}

.btn {
  padding: 7px 16px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #333;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.btn-dark-outline {
  background-color: #fff;
  color: #000;
}

.btn-light-outline {
  border-color: #fff;
  color: #fff;
  background-color: transparent;
}

.btn-light-outline:hover,
.btn-dark-outline:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-dark {
  background-color: #000;
  color: #fff;
}

.btn-dark:hover {
  background-color: #333;
}

/* backgrounds utilities*/

.bg-primary {
  background-color: var(--color-primary);
  color: #fff;
}

.bg-secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.bg-other {
  background-color: var(--color-other);
  color: #000;
}

.bg-dark {
  background-color: #000;
  color: #fff;
}

/*text styling*/

.text-center {
  text-align: center;
}

.text-xl {
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 6px;
  font-weight: 600;
  margin-bottom: 20px;
}

.text-lg {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 20px;
}

.text-md {
  font-size: 24px;
  margin-bottom: 20px;
}

.text-sm {
  font-size: 19px;
  margin-bottom: 20px;
}

/*padding*/

.py-sm {
  padding: 10px 0;
}

.py-md {
  padding: 20px 0;
}

.py-lg {
  padding: 40px 0;
}

/*part*/

.part {
  margin-bottom: 30px;
}

.part1-container {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

.part1 h4 {
  font-size: 20px;
  letter-spacing: 1px;
}

.part1 a {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.part1 a:hover {
  text-decoration: none;
}

/*Grids*/

.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.grid-reversed :first-child {
  order: 2;
}

.part-text {
  max-width: 500px;
  text-align: center;
  justify-self: center;
  padding: 20px 0;
  margin: 0 auto;
}

.part-text .btn {
  margin-top: 20px;
}

.part6 .part-text {
  max-width: 600px;
}

.divider {
  width: 95%;
  height: 1%;
  border-bottom: 3px solid var(--color-other);
  margin: 40px auto;
}

.footer {
  margin: 20px auto;
}

.footer-container {
  margin: 25px;
}

.social img {
  width: 30px;
  height: 30px;
}

.social {
  display: flex;
  align-items: center;
}

.social a {
  margin-right: 20px;
}

/*hamburger */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.5s;
  display: none;
}

.hamburger-top,
.hamburger-bottom,
.hamburger-middle {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg);
}

/*mobile menu*/

.mobile-menu {
  position: fixed;
  top: 75px;
  right: 0;
  background-color: #fff;
  width: 90%;
  height: 100%;
  color: #000;
  padding: 30px;
  transition: all 0.5s;
}

.mobile-menu img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.mobile-menu ul {
  line-height: 3;
  border-bottom: 3px solid var(--color-other);
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 20px;
}

.mobile-menu a:hover {
  color: var(--color-primary);
}

.mobile-menu-bottom a {
  display: flex;
  margin-top: 20px;
  font-size: 16px;
  align-items: center;
  font-weight: bold;
}

.hidden {
  transform: translateX(100%);
}

.no-scroll {
  overflow: hidden;
}

/*responsive*/

@media (max-width: 960px) {
  .text-xl {
    font-size: 30px;
  }
  .text-lg {
    font-size: 25px;
  }
  .text-md {
    font-size: 19px;
  }
}

@media (min-width: 1440px) {
  .part {
    max-width: 1440px;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .grid-col-2 {
    grid-template-columns: 1fr;
  }
  .grid-reversed :first-child {
    order: 0;
  }
  .navbar-brand {
    width: 40px;
    height: 40px;
  }
  .navbar ul {
    display: none;
  }
  .footer {
    text-align: center;
  }
  .hamburger {
    display: block;
  }
}

/*hamburger */
